<%- include("partials/header") -%>
    <h1>About</h1>
    <p>
        <%= myAboutContent %>
    </p>
    <h5>Current University</h5>
    <p>I'm a Third Year IT Engineering Student, studying in Xavier Institute of Engineering.</p>

    <h5>School</h5>
    <p>I completed my schooling from P. G. Public School (2006-2017).</p>

    <h5>Experience</h5>
    <p>I'm an experienced Full Stack Web Developer, and Python Enthusiast.</p>

    <h5>Other Interests</h5>
    <p>Reading selected books, watching Anime♥, Movies, TV Series,etc </p>

    <%- include("partials/footer") -%>