<%- include("partials/header") -%>
        <h1>Contact Me</h1>
        <p>
                <%= Contact %>
        </p>
        <div class="col-12 col-sm-4 align-self-center">

                <p align="left">
                        <a href="https://github.com/@pratikbhadane24" target="blank"><img align="center"
                                        src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/github.svg"
                                        alt="@pratikbhadane24" height="70" width="80" /></a>
                        <a href="https://twitter.com/@pratikbhadane24" target="blank"><img align="center"
                                        src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/twitter.svg"
                                        alt="@pratikbhadane24" height="70" width="80" /></a><br><br>
                        <a href="https://linkedin.com/in/pratikbhadane22" target="blank"><img align="center"
                                        src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg"
                                        alt="pratikbhadane22" height="70" width="80" /></a>
                        <a href="https://fb.com/pratik.bhadane.39" target="blank"><img align="center"
                                        src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/facebook.svg"
                                        alt="pratik.bhadane.39" height="70" width="80" /></a><br><br>
                        <a href="https://instagram.com/__pratik__bhadane__" target="blank"><img align="center"
                                        src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg"
                                        alt="__pratik__bhadane__" height="70" width="80" /></a>
                        <a href="https://discord.gg/NaRuTo9Tailz#3152" target="blank"><img align="center"
                                        src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/discord.svg"
                                        alt="#3152" height="70" width="80" /></a>
                </p>
        </div>
        <%- include("partials/footer") -%>